{% extends 'base.html' %}
{% load static %}

{% block content %}

<section id="center" class="login pt-5 pb-5">
  <div class="container-xl">
    <div class="row login_1 mx-auto">
      <div class="col-md-6 p-0">
        <div class="login_1l">
          <a href="#"><img src="{% static 'image/71.jpg' %}" class="img-fluid"
              alt="abc"></a>
        </div>
      </div>
      <div class="col-md-6 p-0">
        <div class="login_1r p-5 text-center shadow">
          <h3 class="mb-3">Create an Account!</h3>
          <h2>Register</h2>
          <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit">Register</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
